

header{
    background-image: url("https://images.pexels.com/photos/3278215/pexels-photo-3278215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    width: 100%;
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    
}
span{
    color: darkgoldenrod;
    font-size: 18px;
}
#headercontent{
    margin-top: 100px;
    padding: 50px;
    font-size: 40px;
    color: olive;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#c2{
    font-size: 40px;
    color: rgb(11, 0, 128);
    text-align: center;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

.lantern{
    margin: 50px;
    border-radius: 10px;
    background-image: url("https://wallpaperaccess.com/full/17586.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
   
}
h2{
    margin-top: 50px;
    padding-top: 12px;
    text-align: center;
}
#btn{
    margin: 350px 680px 100px 670px;
    background-color: aquamarine;
    border-radius: 10px;
}